* {
  margin: 0;
  padding: 0;
}
.container {
  display: inline-block;
  margin: 10% 38%;
}
.inner {
  margin-top: 15px;
  height: 300px;
  overflow: auto;
  text-align: center;
}
.info {
  border: 1px solid black;
  border-radius: 15%;
  height: 50px;
  margin: 5px 2px;
  background-color: green;
}
