body{
    background-color: rgb(56, 42, 173);
}
.container{
    height: 300px;
    width: 400px;
    background-color: rgb(56, 42, 130);;
    overflow: auto;
    margin: 7% auto;
}
.heading{
    text-align: center;
    color: white;
}
.search-form{
   margin-left: 25%;
}

.todo{
    list-style: none;
    padding: 5px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0,0.2);
    color: white;
}
.icon{
    cursor: pointer;
}
label{
    display: block;
    text-align: center;
    color: white;
}
.add-form{
    bottom: 10px;
    margin-left: 25%;
}
.add-form h3{
    margin-right: 200px;
    margin-bottom: 3px;
}
input{
    background-color: rgb(0, 0, 0,0.2);
    border: 0px;
    padding: 5px;
    color: white;
}